{% extends 'layout/basic.html' %}

{% block title %}订单列表{% endblock %}

{% block css %}{% endblock %}

{% block content %}
    <div class="container">
        <h2>订单信息</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>订单</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>需要支付</th>
                    <th>支付状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% if transaction_object %}
                    <tr>
                        <td>{{ transaction_object.price_policy.title }}</td>
                        <td>{{ transaction_object.price_policy.price }}</td>
                        <td>{{ transaction_object.count }}</td>
                        <td>{{ transaction_object.price }}</td>
                        <td>{{ transaction_object.get_status_display }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'web:pay' %}">立即支付</a>
                        </td>
                    </tr>
                {% else %}
                    <h2>你没有待支付的订单或订单已过期</h2>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}{% endblock %}